.gradle
.idea
.DS_Store
build
src/main/resources/config.json
stage/*.csv
stage/*.csv.bak
stage/*.jar
stage/*.log
stage/Messages
stage/Groups
out
.classpath
.project
.settings
/bin/
stage/logs/*
logs/*